<%= semantic_form_for @user_quest do |f| %>
  <p><b>Quest Name:</b></p>
  <p><%= @user_quest.quest.name %></p>
  <br/>
  <p><b>Quest Description:</b></p>
  <p><%= @user_quest.quest.description %></p>
  <br/>
  
     
  <%= f.inputs do %>
    <%= f.semantic_fields_for :user do |u| %>
      <%= u.input :id, as: :hidden %>
    <% end %>
    <%= f.semantic_fields_for :user_quest_steps do |uqs| %>
      <div class="step_wrapper">
      <span><%= uqs.input :complete, label: '',wrapper_html: {style: 'padding:0;margin:0;display:inline;'}, input_html: {style: 'padding:0;margin:0;display:inline;'} %></span>
      <%= uqs.semantic_fields_for :quest_step do |qs| %>
        <%= qs.semantic_fields_for :step do |s| %>
          <span style=''>
            <%= s.object.description %>
          </span>
        <% end %>
      <% end %>
      </div>
    <% end %>
    <%= f.input :complete, input_html: {style: 'padding:0;'} %>
  <% end %>

  <div class="actions" style="padding: 0">
    <%= f.submit %>
  </div>
<% end %>
