<!DOCTYPE html>
<html>
<head>
  <title>LifeQuest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">    
    $(document).ready(function () {
      $('#container').layout({ 
        applyDefaultStyles: true,
        closable: false,
        resizable: false,
        slidable: false,
        spacing_open: 0,
        spacing_closed: 0,
        east: {
          initHidden: true
        }
      });
    });
  </script> 
</head>
<body>
  <div id="container">
    <div class="pane ui-layout-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div class="pane ui-layout-north">
      <h1>LifeQuest</h1>
    </div>
    <div class="pane ui-layout-south">
      Embark on your journey today.
    </div>
    <div class="pane ui-layout-east">
      East
    </div>
    <div class="pane ui-layout-west">
      <%= render_navigation %>
    </div>
  </div>
</body>
</html>
