<!DOCTYPE html>
<html>
<head>
  <title>LifeQuest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">    
      $(document).ready(function () {
        $('body').layout({ applyDefaultStyles: true });
    });
  </script> 
</head>
<body>
  
  <div class="ui-layout-center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <a href="">Link</a>

    <%= yield %>
  </div>
  <div class="ui-layout-north"><h1>LifeQuest</h1></div>
  <div class="ui-layout-south">Embark on your journey today.</div>
  <div class="ui-layout-east">East</div>
  <div class="ui-layout-west">
    <%= render_navigation %>
  </div>


</body>
</html>
