<!DOCTYPE html>
<html>
<head>
  <title>LifeQuest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">    
    $(document).ready(function () {
      $('#container').layout({ 
        applyDefaultStyles: true,
        closable: false,
        resizable: false,
        slidable: false,
        spacing_open: 0,
        spacing_closed: 0,
        east: {
          initHidden: true
        }
      });
    });
  </script> 
</head>
<body>
  <div id="container">
    <div class="pane ui-layout-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div class="pane ui-layout-north">
      <div id="headerContainer">
        <span id="appLogo">LifeQuest</span>

        <span id="loggedInDiv">
          <% if current_user %>
            Logout, <br/>
            <%= link_to "#{current_user.email}", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="pane ui-layout-south">
      Embark on your journey today.
    </div>
    <div class="pane ui-layout-east">
      East
    </div>
    <div class="pane ui-layout-west">

      <%= render_navigation if current_user %>
    </div>
  </div>
</body>
</html>
